body{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
    border: 2px solid;
    margin: 0px;
    margin-left:575px;
    margin-right:575px;
    background-color: white;
}